{{#> layout page_title="Your Site Name"}}
    <section>
        <p>Welcome to our site! We provide services in your area with information on availability and prices.</p>
        <!-- Add more content specific to your site here -->
    </section>
{{/layout}}
