
    <style>
        /* Global Styles */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
            margin: 0;
            padding: 0;
        }

        /* Body Styles */
        .body-container {
            padding: 20px;
        }

        .sender-name {
            font-size: 18px;
            font-weight: bold;
        }

        .message-content {
            font-size: 16px;
        }

        .pin {
            font-weight: bold; /* Make the PIN text bold */
            font-size: 36px; /* Adjust the font size as needed */
            text-align: center; /* Center the PIN text */
            margin: 20px 0; /* Add some margin for spacing */
        }

    </style>
    <!-- Body -->
    <div class="body-container">
        <p class="sender-name">Welcome {{name}},</p>
        <p class="message-content">
            {{message}}
            <br><br>
            <span class="pin" style="font-size: 36px; font-weight: bold;">{{ code }}</span>
            <br><br>
            This PIN is essential to activate and verify your account with us.
        </p>
    </div>

